@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    --FONT-FAMILY: "Noto Serif";

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--FONT-FAMILY);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}