* {
    font-family: var(--font-family-3);
}

.nav_container {
    width: 100vw;
    height: 5rem;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 7px -1px, rgba(0, 0, 0, 0.02) 0px 4px 6px -1px;
    padding: 0 3em;
}

.logo_container {
    width: auto;
    height: 100%;
}



.icon_container {
    width: 5rem;
    height: 100%;
}

.search_filter_container {
    width: 60%;
    height: max-content;
    background-color: rgb(255, 255, 255);
    margin-top: 6rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;
    border-radius: 3rem;
    padding: 1em 2em 0.4em 2em;
}

/* FILTER CONTAINER */
/* ORDER BY CONTAINER */

.filter_container,
.order_container {
    gap: .5em;
    margin-left: 2rem;
    position: relative;
}

.filter_container:first-of-type,
.order_container:first-of-type {
    width: 10rem;
    height: fit-content;
}


.filter_dropdown_container,
.order_dropdown_container {
    width: 10rem;
    height: 2rem;
    border: 2px solid rgba(var(--color-grey-rgb), .5);
    border-radius: 4px;
    padding: 0 1em;
    gap: .6rem;
    cursor: pointer;
}

.filter_dropdown_container:hover,
.filter_dropdown_container:active,
.order_dropdown_container:hover,
.order_dropdown_container:active {
    border: 2px solid rgba(var(--color-primary-rgb), .8);
}

.filter_dropdown_container:first-of-type,
.order_dropdown_container:first-of-type {
    font-weight: 500;
}

.dropdown_icon {
    width: 1.3rem;
    height: auto;
    color: var(--color-text);
}

.check_container,
.radio_container {
    border: 2px solid rgba(var(--color-primary-rgb), .6);
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: calc(100% + .7rem);
    width: 100%;
    gap: .3rem;
    max-height: 10rem;
    overflow-y: auto;
}

.radio_container {
    gap: 0;
}


.filter_count {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: rgba(var(--color-primary-rgb), .6);
    margin-left: .5rem;
    text-align: center;
}

/* CHECKBOX STYLING */
/* CHECKBOX STYLING */
/* CHECKBOX STYLING */

.checkbox_wrapper {
    display: flex;
}

.checkbox_wrapper label {
    white-space: normal;
    word-break: break-word;
}

.custom_checkbox {
    display: none;
}

.custom_checkbox+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
}

.custom_checkbox+label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 1.5px solid var(--color-primary);
    border-radius: 4px;
    background: white;
    transition: all 0.2s ease;
}

.custom_checkbox:checked+label::before {
    background: rgba(var(--color-primary-rgb), .6);
    border-color: var(--color-primary);
}

.custom_checkbox:checked+label::after {
    content: "✔";
    position: absolute;
    left: 4.5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: white;
    font-weight: bold;
}

/* SCROLL BAR-UL */
/* SCROLL BAR-UL */
/* SCROLL BAR-UL */
/* SCROLL BAR-UL */
.check_container::-webkit-scrollbar {
    width: 6px;

}

.check_container::-webkit-scrollbar-track {
    background: transparent;
}

.check_container::-webkit-scrollbar-thumb {
    background-color: rgba(var(--color-primary-rgb), 0.4);
    border-radius: 6px;
    border: .5px solid rgba(var(--color-primary-rgb), 0.6);
    ;
}

.check_container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(var(--color-primary-rgb), 0.7);
}


/* RADIO DROPDOWN ORDER BY STYLING */

.radio_wrapper {
    font-family: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgba(var(--color-grey-rgb), .5);
    padding: 0.2rem 0.5rem;
}

.radio_wrapper>span {
    margin-left: .5rem;
}

.radio_wrapper:hover {
    background-color: rgba(var(--color-grey-rgb), .5);
    font-weight: 500;
}

.icon {
    color: var(--color-secondary);
}